.Formgroup{
    a{
        text-decoration: none;
    }
    .Formgroup_Button{
        padding: 10px 24px;
        border-radius: 4px;
        cursor: pointer;
        @extend %Hover;
        border: 2px solid #0000;
        width: fit-content;
        i{
            margin-right: 8px;
            font-size: 20px;
        }
        &:hover{
            animation: pulseButton 1s infinite;
        }
        &.__is-Roxo{
            color: $Branco!important;
            background-color: $Roxo;
            &:hover{
                color: $Roxo!important;
                background-color: $Branco;
                border: 2px solid $Roxo;
            }
        }
    }
    .Formgroup_Label{
        color: $Preto;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        display: block;
    }
    .Formgroup_Input{
        width: calc(100% - 32px);
        display: block;
        background-color: #DDDDDD;
        border: 2px solid #3954e200;
        padding: 16px;
        border-radius: 4px;
        margin-top: 8px;
        @extend %Hover;
        outline: none;
        &:focus{
            border: 2px solid $Roxo;
        }
    }

    .Formgroup_Select{
        width: 100%;
        display: block;
        background-color: #DDDDDD;
        border: 2px solid #3954e200;
        padding: 16px;
        border-radius: 4px;
        margin-top: 8px;
        @extend %Hover;
        outline: none;
        &:focus{
            border: 2px solid $Roxo;
        }
    }
}

@keyframes pulseButton{
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.07);
    }
    100%{
        transform: scale(1.0);
    }
}

.pulseImagem{
    animation: pulseImagem 1.0s 2;
}

@keyframes pulseImagem{
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.04);
    }
    100%{
        transform: scale(1.0);
    }
}