.Site_Header{
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    padding: 24px 0px;
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .Site_Header_Container{
        width: 90%;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .Header_Container_Logotipo{

        }
        .Header_Container_Menu{
            .Container_Menu_IconeMobile{
                display: none;
            }
            .Container_Menu_Item{
                .Menu_Item_Close{
                    display: none;
                }
            }
            ul{
                margin: inherit;
                padding: inherit;
                display: flex;
                align-items: center;
                flex-direction: row;
                a{
                    text-decoration: none;
                }
                li{
                    margin: 0px 16px;
                    list-style-type: none;
                    font-size: 16px;
                    font-weight: 600;
                    color: $Preto;

                    a{
                        text-decoration: none;
                        color: inherit;
                        cursor: pointer;
                    }
                    &:hover{
                        @extend %Hover;
                        color: $Roxo;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .Site_Header{
        .Site_Header_Container{
            .Header_Container_Menu{
                .Formgroup{
                    display: none;
                }
                .__ActiveMobile{
                    display: flex!important;
                }
                .Container_Menu_IconeMobile{
                    font-size: 32px;
                    cursor: pointer;
                    color: $Roxo;
                    display: block;
                }
                .Container_Menu_Item{
                    position: relative;
                    .Menu_Item_Close{
                        display: none;
                    }
                    &.__ActiveMobile{
                        width: 100%;
                        min-height: 100vh;
                        position: fixed;
                        top: 0;
                        left: 0;
                        background-color: #fffffff0;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        li{
                            margin: 16px 0px;
                            font-size: 24px;
                            color: #808080;
                            text-transform: uppercase;
                            font-weight: 700;
                        }
                        .Menu_Item_Close{
                            display: block;
                            position: absolute;
                            top: 24px;
                            right: 24px;
                            font-size: 48px;
                            color: $Roxo;
                        }
                    }
                }
            }
        }
    }
}