.Site_Home{
    display: flex;
    justify-content: center;
    background-image: url(../img/background-home.svg);
    background-size: auto;
    min-height: calc(80vh - 100px);
    background-repeat: no-repeat;
    background-position: 85% center;
    .Site_Home_Container{
        width: 90%;
        max-width: 1200px;
        display: flex;
        align-items: center;
        .Home_Container_Content{
            max-width: 340px;
            width: 100%;
            .Container_Content_Titulo{
                font-size: 40px;
                line-height: 48px;
                color: $Preto;
                font-weight: 600;
            }
            .Container_Content_Button{
                margin-top: 32px;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .Site_Home{
        background-position: bottom;
        min-height: calc(85vh - 100px);
        &:after{
            background-color: #ffffffd1;
            content: ' ';
            display: block;
            width: 100%;
            min-height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
        }
        .Site_Home_Container{
            justify-content: center;
            align-items: flex-start;
            .Home_Container_Content{
                margin-top: 32px;
                max-width: 100%;
                z-index: 99;
                .Container_Content_Titulo{
                    text-align: center;
                }
                .Container_Content_Button{
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}