.Site_Rodape{
    .Site_Rodape_Principal{
        background-color: $Preto;
        display: flex;
        justify-content: center;
        padding: 32px 0px;
        .Rodape_Principal_Container{
            width: 90%;
            max-width: 1200px;
            display: flex;
            justify-content: space-between;        
            .Principal_Container_Item{
                width: fit-content;
                .Container_Item_Titulo{
                    color: #E8E8E8;
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 500;
                    margin-bottom: 16px;
                    text-transform: uppercase;
                }
                .Container_Item_RedesSociais{
                    display: flex;
                    flex-direction: row;
                    .Item_RedesSociais_Icone{
                        margin: 12px;
                        a{
                            font-size: 48px;
                            color: $Roxo;
                            &:hover{
                                color: $Branco
                            }
                        }
                        &:first-child{
                            margin-left: inherit;
                        }
                        &:last-child{
                            margin-right: inherit;
                        }
                    }
                }
                .Container_Item_MapaDoSite{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 16px;
                    .Item_MapaDoSite_Item{
                        a{
                            text-decoration: none;
                            color: #808080;
                            font-size: 16px;
                            font-weight: 600;
                            display: block;
                            width: fit-content;
                            @extend %Hover;
                            &:hover{
                                color: $Roxo;
                            }
                        }
                    }
                }
            }
        }
    }
}